/* MAIN DE LA PAGE D'ACCUEIL*/

    .main {
        font-family: Arial, Helvetica, sans-serif;
        color: #0e2a39;
    }

    .main .img_main {
    background-color: #222222;
    display: flex;
    justify-content: center;
    }
    
    .main .img_main img{
        width: 100%;
        height: auto;
    }
    
    #container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 100px;
    }
    
    #container img {
        border : 3px solid black;
        border-radius: 50%;
        padding: 10px;
    }

    .main .intro {
        text-align: center;
        margin-top: 40px;
    }
    
    .block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .block img {
        cursor: pointer;
    }

    .block p {
        text-align: center;
    }

    #container img:hover {
        border: 3px solid #ba7ed5;
        border-radius: 50%;
    }

    .main p {
        font-style: italic;
    }