/* MAIN DE LA PAGE D'ACCUEIL*/

    .main {
        font-family: Arial, Helvetica, sans-serif;
        color: #0e2a39;
    }

    .main .img_main {
    background-color: #222222;
    display: flex;
    justify-content: center;
    }
    
    .main .img_main img{
        width: 100%;
        height: auto;
    }
    
    #container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 100px;
    }
    
    #container img {
        border : 3px solid black;
        border-radius: 50%;
        padding: 10px;
    }

    .main .intro {
        text-align: center;
        margin-top: 40px;
    }
    
    .block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .block img {
        cursor: pointer;
    }

    .block p {
        text-align: center;
    }

    #container img:hover {
        border: 3px solid #ba7ed5;
        border-radius: 50%;
    }

    .main p {
        font-style: italic;
    }


/*carrousel*/
/* selecteur before et after*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f1f1f1;
  }
  .container_slide {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
  }
  
  .slider img {
    max-width: 100%;
    display: none;
  }
  img.active {
    display: block;
    animation: fade 0.8s;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .cont-btn {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
  }
  .btn-nav {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
  }