/* MAIN DE LA PAGE D'ACCUEIL*/

    .main {
        font-family: Arial, Helvetica, sans-serif;
        color: #0e2a39;
    }

    .main .img_main {
    background-color: #222222;
    display: flex;
    justify-content: center;
    }
    
    .main .img_main img{
        width: 100%;
        height: auto;
    }
    
    #container{
        display: flex;
        justify-content: space-around;
        margin-bottom: 100px;
    }
    
    #container img {
        border : 3px solid black;
        border-radius: 50%;
        padding: 10px;
    }

    .main .intro {
        text-align: center;
        margin-top: 40px;
    }
    
    .block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .block img {
        cursor: pointer;
    }

    #container img:hover {
        border: 3px solid #ba7ed5;
        border-radius: 50%;
    }

    .main p {
        font-style: italic;
    }


/*carrousel*/
#slider {
    position: relative;
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
}

#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}