section {
    font-family: Arial, Helvetica, sans-serif;
}

.plan_div{
    width: 30%;
    margin: 0 auto 0 auto;
    margin-bottom: 30px;

}

section hr {
    width: 20%;
    color: #205d7e;
}

.plan_div ul li a {
    text-decoration: none;
    color: #be94d1;
    font-size: 1.5em;

}