/* SERVICES */

section {
    font-family: Arial, Helvetica, sans-serif;
}

.titre_services0{
    text-align: center;
    color: #0e2a39;
    
}

.titre_services0 h2{
    font-size: 50px;
}

.titre_services {
    width: 30%;
    height: auto;
    text-align: center;
}

.titre_services h3 {
    color: #ba7ed5;
    font-size: 30px;
}

.titre_services_center {
    border-top: #ba7ed5 2px solid;
}

.Block_service{
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    padding-left:  50px;
    padding-right: 50px;
    height: auto;
    margin-bottom: 70px;

}